/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*body{
  background-image: url("movie1.png")
}*/

/*.top-bar{
  background: #88BBD6;
}*/

body{
  font-family: 'Imprima';
  background-color: #F7F5E6
}

.favorites{
  padding-left: 1rem;
}

.forgot{
  padding-left: 1rem;
}
.flash-alert{
    color: #8B0000
}

.flash{
  padding-left: 1rem
}

p{
  padding-left: 1rem;
}

.button {
  background: #333333;
  font-family: 'Imprima';
}
.image-actor{
  padding-left: 2rem;
}

.plot{
  padding-left: 2rem;
}

.rating{
  padding-left: 2rem;
}

.actors{
  padding-left: 2rem;
}

h1{
  font-family: 'Imprima';
  text-align: center
}

h6{
  font-family: 'Imprima';
}

h3{
  font-family: 'Imprima';
  padding-left: 8rem
}

h2{
  font-family: 'Imprima';
  text-align: center
}

.movies{
  padding-left: 2rem;
}

.rating-tiles {
    margin: auto;
    text-align: center;
}

.rating-tiles > li {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 1rem;
}


.gobackbutton {
  padding: .5rem .5rem .9rem;
}
